.header {
    display: flex;
    justify-content: space-around;

    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.title1 {
    color: white;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
}















